.field {
  margin-bottom: 30px;
}


.field ul {
  padding-left: 25px;
}

.field > h2,
.field p,
.field blockquote,
.field ul {
  margin-bottom: 10px;
}

.image-link {
  border-bottom: none;
}

.entries-list {}

.entries-item {}

.asset-list {
  display: flex;
}

.asset-item {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.symbol-list {
  display: flex;
}

.symbol-list > div {
}

.symbol-item {
  margin-right: 5px;
}

.symbol-item > p:after {
  content: ','
}

.symbol-item:last-child > p:after {
  content: ''
}
.edit-section{
  width: 120%;
  height: 50px;
  padding: 10px;
  background-color: #F7F9FA;
  margin: -40px 0px 50px -35px;
}
.edit-link{
  /*TODO: Add edit icon here*/
}
