.list {
  width: 250px;
  height: 100%;
  height:100vh;
  border-left: 1px solid #CAD5DA;
}

.list-container {
  margin-top: 10px;
  height: 94%;
  overflow: auto;
  padding-right: 5px;
}

.list ul {
  padding: 0;
  margin: 0;
}
.list h3 {
  background-color: #DEE4E9;
  padding: 15px;
  color: #2A3038;
  border-bottom: 1px solid #CAD5DA;
}

.list li {
  padding: 7px 5px;
  margin: 0;
  list-style: none;
}
.current{
  background-color: #DEE4E9;
  cursor:default;
}
.list li:hover {
  background-color: #DEE4E9;
  cursor: pointer;
}

.list a {
  border-bottom: none;
  color: #2C333B;
  font-size: 15px;
  display: block;
}
