.two-panel-list {
  display: flex;
}
.list-item-contents {
  margin-left: 50px;
  width: 750px;
  min-height: 300px;
  position: relative;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
