.list-container {
  display: flex;
}

.list {
  width: 200px;
}

.list ul {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.list li {
  padding: 7px 5px;
  margin: 0;
  list-style: none;
  border-left: 2px solid #EEF2F4;
}
.list li:hover {
  border-left: 2px solid #4A90E2;
}

.list a {
  border-bottom: none;
  color: #8091A5;
  font-size: 15px;
}

.list-nav-view {
  margin-bottom: 10px;
}

.list-item-contents {
  width: 800px;
  min-height: 300px;
  position: relative;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
