.two-panel-list {
  display: flex;
  border-left: 1px solid #CAD5DA;
	border-bottom : 1px solid #CAD5DA;
}
.list-item-contents {
  padding:40px 5px 0 35px;
  width: 750px;
  min-height: 300px;
  position: relative;
  border-left: 1px solid #CAD5DA;
  background-color: white;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
