.asset-list {
  display: flex;
  flex-wrap: wrap;
<<<<<<< HEAD
  margin-top: 50px;
=======
  padding: 20px;
>>>>>>> dd75038face9bdd15789a22c5b95859df782ee09
}

.asset-item {
  width: 150px;
  height: 150px;
  margin-right: 15px;
  margin-bottom: 35px;
  text-align: center;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.asset-label {
  margin-top: 15px;
}
