.asset-container {
  display: flex;
  justify-content: flex-start;
}

.preview {
  margin-right: 25px;
}

.preview a {
  border-bottom: none;
}

.metadata {
  width: 60%;
  overflow-wrap: break-word;
  composes: field from '../entries/Field.css'
}

.metadata h1 {
  margin-bottom: 20px;
}
