.asset-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 20px;
}

.asset-item {
  width: 150px;
  height: 150px;
  margin-right: 15px;
  margin-bottom: 35px;
  text-align: center;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.asset-label {
  margin-top: 15px;
}
