.settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-form > * {
  margin-bottom: 25px;
}

.settings-form p {
  text-align: center;
}

.settings-form input,
.settings-form button {
  font-size: 14px;
  padding: 0 10px;
  height: 38px;
  border-radius: 2px;
}

.settings-form input {
  width: 350px;
  background-color: #F7F9FA;
  border: 1px solid #DBE3E7;
  color: #536171;
}

.settings-form button {
  width: 200px;
  border: 1px solid #2b67ad;
  background: linear-gradient(0deg, #3C80CF 0%, #5B9FEF 100%) no-repeat;
  color: white;
}
